    <footer id="project-page-footer">
        <div class="project-page-footer-text">
            <p class="text1">Designed & Created by Ayush Kumar Gupta</p>
            <p class="text2">Copyright © 2022</p>
        </div>
    </footer>
</body>
</html>