<%- include('./partials/header') %> 

<%- include('./partials/navbar') %> 

<section id="contact-page">
    <div class="contact-page">
        <h1 style="font-size: 3rem ; font-weight: 900">Get in Touch</h1>
        <br>
        <p style="font-size: 1rem; margin: 2rem">My inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get <br> back to you!</p>
        <a href="mailto:ayush.skg@gmail.com" target="_blank" class="btn btn-lg btn-outline-dark">Mail me</a>
        <br>
        <br>
        <h6 style="margin-bottom: 1.5rem">or connect with me at</h6>
        <div class="contact-links" style="margin-bottom: 9rem;"> 
            <a href="https://linkedin.com/in/ayushkumargupta02" title="Linkedin" target="_blank"><i class="contact-links fa-brands fa-linkedin-in"></i></a>
            <a href="https://github.com/Ayush0202" title="Github" target="_blank"><i class="contact-links fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/ayush0202/" title="Instagram" target="_blank"><i class="contact-links fa-brands fa-instagram"></i></a>
        </div>
    </div>


</section>






<%- include('./partials/footer') %> 
