
<!-- 
                                        ________________________________________________________
                                        |                                                       |
                                        |   Well Hello! (^_^)                                   |
                                        |   I see you are looking at my code ;)                 |
                                        |                                                       |
                                        |   If you have any questions or would like to use      |
                                        |   part of this code, please contact me at             |
                                        |   ayush.skg@gmail.com                                 |
                                        |                                                       |
                                        |   Thanks,                                             |
                                        |   Ayush Kumar Gupta                                   |
                                        |_______________________________________________________|
 
-->

<%- include('./partials/header') %> 

<%- include('./partials/navbar') %> 

<!-- Home -->
<section id="home" class="d-md-flex justify-content-center align-items-start align-self-center flex-wrap">
    <div class="home-part left flex-fill">
        <div class="bg-image hover-zoom">
            <img src="images/profile2.jpg" class="img-fluid hover-overlay rounded-circle" alt="Profle" width="250rem">
        </div>
        <div class="left-intro">
            <h3>Ayush Kumar Gupta</h3>
            <h5>Full Stack Developer</h5>
        </div>
        <div class="left-location">
            <p><i class="fa-solid fa-location-dot"></i> New Delhi, India</p>
        </div>
        <a href="https://drive.google.com/file/d/1m6H0pQZOd442BNO24JAjV_Npzmk8f8qm/view?usp=sharing" title="CV" target="_blank"><i class="profile-link fa-solid fa-file-pdf"></i></a>
        <a href="mailto:ayush.skg@gmail.com" title="Google" target="_blank"><i class="profile-link fa-solid fa-envelope"></i></a>
        <a href="https://linkedin.com/in/ayushkumargupta02" title="Linkedin" target="_blank"><i class="profile-link fa-brands fa-linkedin-in"></i></a>
        <a href="https://github.com/Ayush0202" title="Github" target="_blank"><i class="profile-link fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/ayush0202/" title="Instagram" target="_blank"><i class="profile-link fa-brands fa-instagram"></i></a>
    </div>
    <div class="home-part right flex-fill">
        <div>
            <h1>👋 Hi, I am Ayush</h1>
            <p class="right-para">

                I am a <u>Full Stack Web Developer</u> living in Delhi, India. I am currently doing my Bachelors of <br> 
                Technology from <a href="http://dtu.ac.in/" target="_blank" style="text-decoration: none;">Delhi Technological University</a> (Formerly Delhi College of Engineering) <br>
                majoring in <strong>'Electrical Engineering'</strong> with a minor in <strong>'Computer Science'</strong>. <br>
                <br>
                I am currently learning <strong>Data Structures and Algorithms</strong> along with new <strong>Web Technologies</strong> <br>
                and open to any <u>Internship</u> opportunity that come my way. <br>
                <br>
                You can find my Resume <a href="https://drive.google.com/file/d/1m6H0pQZOd442BNO24JAjV_Npzmk8f8qm/view?usp=sharing" target="_blank" style="text-decoration: none;">here</a> and further information on my skills and projects below <br>

            </p>
        </div>
        <div class="skills">
            <div class="frontend skill">
                <h4 class="skill-heading">Frontend</h4>
                <img class="skill-img" title="HTML" src="images/logos/html5.png" alt="html5" width="40" height="40"/> 
                <img class="skill-img" title="CSS" src="images/logos/css.png" alt="css3" width="40" height="40"/> </a> 
                <img class="skill-img" title="JavaScript" src="images/logos/javascript.png" alt="javascript" width="40" height="40"/>
                <img class="skill-img" title="jQuery" src="images/logos/jquery.png" alt="jQuery" width="40" height="40"/>
                <img class="skill-img" title="Bootstrap" src="images/logos/bootstrap.png" alt="bootstrap" width="40" height="40"/>
                <img class="skill-img" title="Tailwind" src="images/logos/tailwind.png" alt="tailwind" width="40" height="40"/>
                <img class="skill-img" title="ReactJS" src="images/logos/react.png" alt="react" width="40" height="40"/>
                <img class="skill-img" title="Redux" src="images/logos/redux.png" alt="redux" width="40" height="40"/>
            </div>
            <div class="backend skill">
                <h4 class="skill-heading">Backend</h4>
                <img class="skill-img" title="NodeJS" src="images/logos/nodejs.png" alt="nodejs" width="40" height="50"/>
                <img class="skill-img" title="ExpressJS" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg" alt="express" width="40" height="40"/>
            </div>
            <div class="databases skill">
                <h4 class="skill-heading">Database</h4>
                <img class="skill-img" title="MySQL" src="images/logos/mysql.png" alt="mysql" width="40" height="40"/>
                <img class="skill-img" title="MongoDB" src="images/logos/mongodb.png" alt="mongodb" width="40" height="40"/>
            </div>
            <div class="tools skill">
                <h4 class="skill-heading">Tools</h4>
                <img class="skill-img" title="Git" src="images/logos/git.png" alt="git" width="40" height="40"/> 
                <img class="skill-img" title="Heroku" src="images/logos/heroku.png" alt="heroku" width="40" height="40"/>
                <img class="skill-img" title="Netlify" src="images/logos/netlify.png" alt="netlify" width="40" height="40"/>
                <img class="skill-img" title="Postman" src="images/logos/postman.png" alt="postman" width="40" height="40"/>
                <img class="skill-img" title="Visual Studio Code" src="images/logos/vscode.png"/>
            </div>
        </div>
    </div>
</section>

<!-- Projects -->
<section id="projects">
    <div class="project-heading">
        <h1>Projects</h1>
        <br>
        <h5>Some of the projects that I have build...</h5>
    </div>
    <div class="row mx-auto">
        <div class="col-xl-4">
            <div class="card" >
                <div class="card-body">
                    <div class="card-link">
                        <a href="https://github.com/Ayush0202/Codeshare" title="Gituhb" target="_blank"><i class="link fa-brands fa-github"></i></a>
                        <a href="https://limitless-mountain-02271.herokuapp.com/" title="Live" target="_blank"><i class="link fa-solid fa-up-right-from-square"></i></a>
                    </div>
                    <h4 class="card-title">Codeshare</h4>
                    <p class="card-text">
                        Codeshare is a Full Stack web Application that enables easy sharing of codes for interviews, troubleshooting, teaching & more...
                        <!-- <br> -->
                        <!-- The features of the project include <strong>creating of new workspace</strong> and <strong>saving</strong> it to generate  -->
                        <!-- a <strong>unique URL</strong> that can be shared with others -->
                        <!-- <br> -->
                    </p>
                    <h6 class="card-subtitle">EJS &nbsp;&nbsp; NodeJS &nbsp;&nbsp; ExpressJS &nbsp;&nbsp; MongoDB &nbsp;&nbsp; Heroku </h6>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-link">
                        <a href="https://github.com/Ayush0202/RealTime-Chat-Application" target="_blank"><i class="link fa-brands fa-github"></i></a>
                    </div>
                    <h4 class="card-title">Chitchat - Realtime Chat App</h4>
                    <p class="card-text">
                        Chitchat is a realtime Chatting Application that provides an interface for multiple user chatting at the same time
                        <br>
                    </p>
                    <h6 class="card-subtitle">NodeJS &nbsp;&nbsp; ExpressJS &nbsp;&nbsp; Socket.io</h6>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-link">
                        <a href="https://github.com/Ayush0202/KeeperApp-Google-Keep-Clone" target="_blank"><i class="link fa-brands fa-github"></i></a>
                    </div>
                    <h4 class="card-title">KeeperApp - Google Keep Clone</h4>
                    <p class="card-text">
                        KeeperApp is a Google Keep Clone which has been created on ReactJS to save your personal notes
                        <br>
                        <br>
                        <!-- The features include <strong>Creating, Adding, Editing and Deleting </strong> notes with <strong>Title and Body</strong> -->
                    </p>
                    <h6 class="card-subtitle">ReactJS</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="project-button">
        <a href="/projects" class="btn btn-outline-danger btn-lg">View All</a>
    </div>
</section>

<!-- Contact -->
<section id="contacts">
    <div class="contact-page">
        <h1>Get in Touch</h1>
        <br>
        <p>My inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get <br> back to you!</p>
        <a href="mailto:ayush.skg@gmail.com" target="_blank" class="btn btn-lg btn-outline-dark">Mail me</a>
        <br>
        <br>
        <h6>or connect with me at</h6>
        <div class="contact-links"> 
            <a href="https://linkedin.com/in/ayushkumargupta02" title="Linkedin" target="_blank"><i class="contact-links fa-brands fa-linkedin-in"></i></a>
            <a href="https://github.com/Ayush0202" title="Github" target="_blank"><i class="contact-links fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/ayush0202/" title="Instagram" target="_blank"><i class="contact-links fa-brands fa-instagram"></i></a>
        </div>
    </div>
</section>

<%- include('./partials/footer') %> 
        

