<%- include('./partials/header') %> 

<%- include('./partials/navbar') %> 

<!-- All Projects -->

<section class="project-page" id="project-page">
    <div class="project-page-heading">
        <h1>Projects</h1>
        <br>
        <p>A list of all my Personal Projects...</p>
    </div>
    <div class="project-page-article">
        <div class="col-lg-6 mx-auto">
            <div class="card project-card" >
                <div class="card-body">
                    <div class="project-img">
                        <a href="https://github.com/Ayush0202/Codeshare" target="_blank">
                            <img src="images/projects/codeshare.jpg" alt="dads" srcset="" class="project-image">
                        </a>
                    </div>
                    <div class="card-link">
                        <a href="https://github.com/Ayush0202/Codeshare" title="Github" target="_blank"><i class="link fa-brands fa-github"></i></a>
                        <a href="https://limitless-mountain-02271.herokuapp.com/" title="Live" target="_blank"><i class="link fa-solid fa-up-right-from-square"></i></a>
                    </div>
                    <h2 class="card-title">Codeshare</h2>
                    <h4 >Real-Time Code Sharing Platform</h4>
                    <p class="card-text">
                        Codeshare is a <u>Full Stack web Application</u> that enables easy sharing of codes for interviews, troubleshooting, teaching & more...
                        <br>
                        The features of the project include <strong>creating of new workspace</strong> and <strong>saving</strong> it to generate 
                        a <strong>unique URL</strong> that can be shared with others
                        <br>
                    </p>
                    <h6 class="card-subtitle">EJS &nbsp;&nbsp; NodeJS &nbsp;&nbsp; ExpressJS &nbsp;&nbsp; MongoDB &nbsp;&nbsp; Heroku </h6>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mx-auto">
            <div class="card project-card" >
                <div class="card-body">
                    <div class="project-img">
                        <a href="https://github.com/Ayush0202/RealTime-Chat-Application" target="_blank">
                            <img src="images/projects/chatapp.png" alt="dads" srcset="" class="project-image">
                        </a>
                    </div>
                    <div class="card-link">
                        <a href="https://github.com/Ayush0202/RealTime-Chat-Application" title="Github" target="_blank"><i class="link fa-brands fa-github"></i></a>
                    </div>
                    <h2 class="card-title">Chitchat</h2>
                    <h4 >Real-Time Code Chat Application</h4>
                    <p class="card-text">
                        Chitchat is a <u>Realtime Chatting Application</u> that provides an interface for <u>multiple user</u> chatting at the same time
                    </p>
                    <h6 class="card-subtitle">NodeJS &nbsp;&nbsp; ExpressJS &nbsp;&nbsp; Socket.io</h6>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mx-auto">
            <div class="card project-card" >
                <div class="card-body">
                    <div class="project-img">
                        <a href="https://github.com/Ayush0202/KeeperApp-Google-Keep-Clone" target="_blank">
                            <img src="images/projects/keeperapp.PNG" alt="dads" srcset="" class="project-image">
                        </a>
                    </div>
                    <div class="card-link">
                        <a href="https://github.com/Ayush0202/KeeperApp-Google-Keep-Clone" title="Github" target="_blank"><i class="link fa-brands fa-github"></i></a>
                    </div>
                    <h2 class="card-title">Keeper App</h2>
                    <h4 >ReactJS based Web Application</h4>
                    <p class="card-text">
                        KeeperApp is a <u>Google Keep Clone</u> which has been created on <u>ReactJS</u> to save your personal notes
                        <br>
                        The features include <strong>Creating, Adding, Editing and Deleting </strong> notes with <strong>Title and Body</strong>
                    </p>
                    <h6 class="card-subtitle">ReactJS</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer') %> 

